{% if page.lang == 'ru' %}
<ul>
<li>
Для записи ISO-образов на USB Flash воспользуйтесь <a href="https://www.altlinux.org/Запись_образов_на_DVD_и_USB_Flash"><b>инструкцией</b></a>.
</li>
{% if page.code != 'alt-kworkstation'%}
<li>
Для создания образа корневой файловой системы из aarch64-архива
воспользуйтесь <a href="http://altlinux.org/write/rootfs"><b>этой
инструкцией</b></a>.
</li>
{% endif %}
{% if page.code == 'alt-workstation'%}
<li>
Для прошивки образа mipsel на устройство Таволга Терминал следуйте
<a href="http://altlinux.org/write/recovery.tar"><b>этим указаниям</b></a>.
</li>
{% endif %}
{% if page.code != 'alt-server-v' and page.code != 'alt-kworkstation' %}
<li>
Для получения образов и репозитория для ВК Эльбрус (архитектура e2k)
обратитесь в <a href="http://mcst.ru/contacts"><b>АО «МЦСТ»</b></a>.
</li>
{% endif %}
</ul>
{% endif %}
{% if page.lang == 'en' %}
<ul>
<li>
Use the <a href="https://en.altlinux.org/Write"><b>instructions</b></a> to write ISO images to USB Flash.
</li>
{% if page.code != 'alt-kworkstation'%}
<li>
Note that aarch64 rootfs archives presume the use of
<tt>alt-rootfs-installer</tt> utility to handle target
platform differences; the guide is currently available
<a href="http://altlinux.org/write/rootfs"><b>in Russian</b></a>.
</li>
{% endif %}
{% if page.code == 'alt-workstation'%}
<li>
Tavolga Terminal users are advised to flash the device using
<a href="http://altlinux.org/write/recovery.tar"><b>this manual</b></a>
in Russian.
</li>
{% endif %}
</ul>
{% endif %}
